          <div class="status">
            <div class="statusColor" style="text-align:center">
              <div class="statusColorButten" ><p>업데이트</p></div>
            </div>
            <div class="thinking" style="font-size:10px">
              <p>안녕하세요! 연습중입니다.</p><br>
              <ul>
                <li>이메일 기능 추가</li>
                <li>로그인 기능 추가</li>
                <li>뉴스피드 화면 개선</li>
                <li>프론트 화면 추가</li>
                <li>아마존에 파일 첨부 </li>
                <li>시드 정보 저장</li>
                <li>댓글 무작위 생성된 이름에 따른 이미지 추가 </li>                    
                <li>댓글 이름 무작위 생성 </li>
                <li>좋아요 랭킹 추가 </li>
                <li>사진 올리는 기능 추가 </li>
                <li>싫어요 기능 추가 </li>
                <li>비밀번호 암호화 저장기능 추가 </li>
                <li>댓글 삭제 기능 추가 </li>
                <li>게시물 별 댓글기능 추가 </li>
                <li>운영자 댓들 추가 </li>
                <li>친구 항목 추가 </li>
              </ul>
            </div>
          </div>
